body {
  background-color: #1c1c1c !important;
  font-family: monospace !important;
  margin: 0;
}

.div_header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 48px;
  width: 100%;
  background-color: #101010;
  line-height: 48px;
  padding: 0 32px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.div_header img {
  position: relative;
  top: 6px;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

#span_header {
  color: white;
}

.datetime_clock {
  color: white;
  font-weight: 600;
  font-size: 13px;
  float: right;
  position: relative;
  margin-right: 64px;
}

#div_products_list {
  margin: 48px 0 0 0;
  padding: 0;
}

#ul_products_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ul_products_list li {
  height: 60px;
  border: lightgrey solid 1px;
}

.li_product_item {
  display: flex;
  cursor: pointer;
}

.li_product_image {
  padding: 6px;
  height: 100%;
}

.li_product_image img {
  height: 48px;
  width: 48px;
  float: left;
}

.li_product_name {
  position: relative;
  margin-left: 10px;
  margin-top: 12.5px;
  color: white;
  justify-content: center;
}

.li_product_duration {
  color: grey;
  font-weight: 600;
  font-size: 12px;
  position: relative;
  top: 2px;
}

#btn_product_details_back,
#btn_product_map_back {
  cursor: pointer;
}

#div_product_details {
  display: flex;
  justify-content: space-between;
  margin: 72px auto;
}

#div_product_details_img {
  margin: 0;
  padding: 16px;
  width: 60%;
  display: flex;
  justify-content: center;
}

#div_product_details_img img {
  width: 400px;
  height: 400px;
  border: 1px solid lightgrey;
  object-fit: cover;
}

#div_product_details_data {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 40%;
}

.div_product_details_data_cell {
  display: inline-block;
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
}

.product_details_data_name {
  font-size: 28px;
  color: grey;
}

#musicDetailsImage {
  cursor: pointer;
}

#where_to_find_button {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 78px;
  width: 100%;
  background-color: rgb(93, 93, 93);
  line-height: 48px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#where_to_find_button:hover {
  background-color: gray;
}

/** 
    Google Maps automatically sets the map with these 2 CSS - position: relative & overflow: hidden
*/
#div_product_map {
  width: 100vw;
  height: 100vh;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 29px;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerLink {
  color: white;
  text-decoration: none;
}

#websiteLogo {
  width: 137px;
  height: 38px;
  cursor: pointer;
}

#page_listing {
  margin-top: 70px;
}

span.fixed_length {
  width: 190px;
}

span.fixed_length_back_arrow {
  width: 190px;
  height: 34px;
}

.add-padding-in-header {
  padding-left: 96px;
}

.add-padding-in-header-two {
  padding-left: 128px;
}

audio {
  width: 275px;
  height: 40px;
}

#loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* CSS for floating panel in Google Maps - Reference: https://developers.google.com/maps/documentation/javascript/examples/marker-remove */
#floating-panel {
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

/* Fix mobile responsiveness - for mobile phones & tablets (aka <= 768px) */
@media only screen and (max-width: 768px) {
  .div_header {
    height: 90px;
    line-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .datetime_clock {
    position: static;
    margin-right: 0px;
  }

  #page_listing {
    margin-top: 110px;
  }

  #page_details {
    margin-top: 94px;
  }

  #page_map {
    margin-top: 0px;
  }

  #div_product_details {
    margin-bottom: 96px;
  }

  #div_product_details_img {
    width: unset;
  }

  #div_product_details_data {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
  }

  #where_to_find_button {
    padding: 0;
  }

  .add-padding-in-header,
  .add-padding-in-header-two {
    padding-left: 0px;
  }

  #div_product_details {
    display: flex;
    flex-direction: column;
  }

  #div_product_details_img img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
  }

  .product_details_data_name {
    font-size: 14px;
  }
}

/* Reduce audio tag size in mobile phones */
@media only screen and (max-width: 480px) {
  audio {
    width: 80vw !important;
    height: 30px;
  }
}
